@font-face {
  font-family: "Lovelo";
  src: url("//db.onlinewebfonts.com/t/980a524883ee7f294ec3ab75100e2abf.eot");
  src: url("//db.onlinewebfonts.com/t/980a524883ee7f294ec3ab75100e2abf.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/980a524883ee7f294ec3ab75100e2abf.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/980a524883ee7f294ec3ab75100e2abf.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/980a524883ee7f294ec3ab75100e2abf.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/980a524883ee7f294ec3ab75100e2abf.svg#Lovelo")
      format("svg");
}
/* Global */

header {
  background-color: #262626;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  overflow: "hidden";
  display: flex;
  align-items: center;
  z-index: 3;
}

footer {
  background-color: #262626;
  height: 100px;
  margin-bottom: 0;
}

footer ul {
  display: flex;
  color: #262626;
  margin-left: 50px;
}
footer li {
  flex: 1;
}

footer a {
  color: #fff;
  text-decoration: none;
  font-family: "Lovelo Black", Verdana, Geneva, Tahoma, sans-serif;
}

.logo {
  position: relative;
  top: -20px;
  height: 150px;
  padding-left: 20px;
  padding-top: px;
}

header ul {
  display: flex;
  color: #262626;
  position: relative;
  top: 30px;
}

header a:hover {
  color: #ff9649;
}

header li {
  padding-left: 50px;
  padding-right: 100px;
}

header a {
  font-family: "Lovelo", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2em;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.active {
  text-decoration: underline #ff9649;
}

body {
  margin-left: 0;
  margin-right: 0;
}

main {
  max-height: 1300px;
  max-width: 287px;
}

.searchbar {
  margin-top: 200px;
  height: 30px;
  width: 600px;
  border: 1px solid #262626;
  border-radius: 25px;
  position: relative;
  left: 500px;
}

.searchbar img {
  height: 25px;
  position: relative;
  left: 560px;
  top: 3px;
}

/* Homepage */

.exciting-item {
  width: 700px;
  font-family: "Lovelo Black", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.7em;
  color: #262626;
  position: relative;
  left: 450px;
  top: 5px;
  text-align: center;
  z-index: 1;
}

.exciting-item__img {
  height: 400px;
  width: 700px;
}

.game-news {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -600px;
  margin-left: 10px;
  max-width: 350px;
  height: 800px;
}

.game-news__title {
  font-family: "Lovelo Black", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2em;
  color: #262626;
  text-decoration: none;
  position: relative;
  left: 80px;
}

.game-news h2 {
  margin-bottom: 0;
  margin-top: 80px;
}

.game-news__title:hover {
  text-decoration: underline #262626;
}

.game-news img {
  height: 200px;
  width: 330px;
}

.game-news__story {
  font-family: "Lovelo Black", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.8em;
}

.upcoming-releases {
  position: relative;
  left: 440px;
  top: -800px;
  max-width: 700px;
  height: 200px;
}

.upcoming-flex {
  display: flex;
}

.upcoming-flex a {
  font-family: "Lovelo Black", Verdana, Geneva, Tahoma, sans-serif;
  color: #ff9649;
  position: relative;
  left: 410px;
  z-index: 2;
  top: 20px;
}

.upcoming-flex a:hover {
  cursor: pointer;
  color: #262626;
}

.upcoming-releases__title {
  position: relative;
  left: 20px;
  margin-bottom: -30px;
  font-family: "Lovelo Black";
  font-size: 22px;
}

.upcoming-game {
  font-family: "Lovelo Black", Verdana, Geneva, Tahoma, sans-serif;
  flex: 1;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
}

.upcoming-game h3,
p {
  margin-top: 2px;
}

.upcoming-game__img {
  height: 190px;
  width: 150px;
}

.item-flex {
  display: flex;
  position: relative;
}

.cta-register {
  height: 200px;
  width: 700px;
  background-color: #262626;
  position: relative;
  top: -640px;
  left: 450px;
  color: #fff;
  font-family: "Lovelo Line", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
  text-align: center;
}
.cta-register p,
a {
  position: relative;
  top: 30px;
  font-weight: bold;
}

.cta-register a {
  background: #ff9649;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border-radius: 20px;
}

.cta-register a:hover {
  background-color: #262626;
  border: 3px solid #ff9649;
}

.advert {
  position: relative;
  top: -1725px;
  left: 1200px;
}

.advert img {
  height: 700px;
  width: 320px;
}
